<!DOCTYPE html>
<html>
  <head>
    <title>TaskApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Ruby on Rails スケジュール管理アプリ</h1>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>
  </body>

  <footer>
    <p>
      <% if @schedule_count %>
        <%= "現在の日時 : #{@time.to_s(:datetime_jp)}　　スケジュール合計 : #{@schedule_count}個"%>
      <% else %>
        <%= "現在の日時 : #{@time.to_s(:datetime_jp)}"%>
      <% end %>
    </p>
  </footer>
</html>
